[submodule "model"]
	path = model
	url = https://github.com/kevoree/kevoree-js-model
[submodule "core"]
	path = core
	url = https://github.com/kevoree/kevoree-js-core
[submodule "entities"]
	path = entities
	url = https://github.com/kevoree/kevoree-js-entities
[submodule "commons"]
	path = commons
	url = https://github.com/kevoree/kevoree-js-commons
[submodule "libraries/node-javascript"]
	path = libraries/node-javascript
	url = https://github.com/kevoree/kevoree-js-node-javascript
[submodule "libraries/comp/ticker"]
	path = libraries/comp/ticker
	url = https://github.com/kevoree/kevoree-js-comp-ticker
[submodule "libraries/node/javascript"]
	path = libraries/node/javascript
	url = https://github.com/kevoree/kevoree-js-node-javascript
[submodule "libraries/comp/consoleprinter"]
	path = libraries/comp/consoleprinter
	url = https://github.com/kevoree/kevoree-js-comp-consoleprinter
[submodule "libraries/group/ws"]
	path = libraries/group/ws
	url = https://github.com/kevoree/kevoree-js-group-ws
[submodule "libraries/group/remotews"]
	path = libraries/group/remotews
	url = https://github.com/kevoree/kevoree-js-group-remotews
[submodule "libraries/chan/ws"]
	path = libraries/chan/ws
	url = https://github.com/kevoree/kevoree-js-chan-ws
[submodule "libraries/comp/wsmsgbroker"]
	path = libraries/comp/wsmsgbroker
	url = https://github.com/kevoree/kevoree-js-comp-wsmsgbroker
[submodule "libraries/chan/local"]
	path = libraries/chan/local
	url = https://github.com/kevoree/kevoree-js-chan-local
[submodule "tools/generator-kevoree"]
	path = tools/generator-kevoree
	url = https://github.com/kevoree/generator-kevoree
[submodule "tools/grunt-kevoree"]
	path = tools/grunt-kevoree
	url = https://github.com/kevoree/grunt-kevoree
[submodule "tools/grunt-kevoree-genmodel"]
	path = tools/grunt-kevoree-genmodel
	url = https://github.com/kevoree/grunt-kevoree-genmodel
[submodule "tools/grunt-kevoree-registry"]
	path = tools/grunt-kevoree-registry
	url = https://github.com/kevoree/grunt-kevoree-registry
