//-style
  @import 'css/bootstrap.min.css'

div.row
  div.col-md-11
    input#msg.form-control(type="text", placeholder="Say something :)")
  div.col-md-1
    button#send.btn.btn-info #{btn}

div.row
  dl#msg-list.dl-horizontal.col-md-12