style.
  @import url('./node_modules/kevoree-comp-fakeconsole/resources/css/bootstrap.min.css')

.container-fluid
  .row
    .input-group
      input#msg.form-control(type="text", placeholder="Say something :)")
      span.input-group-btn
        button#send.btn.btn-primary(type="button") #{btn}

  .row
    dl#msg-list.dl-horizontal.col-xs-12