extends: ../../.eslintrc
env:
  browser: true
plugins:
  - react
parserOptions:
  ecmaFeatures:
    jsx: true
    modules: true
rules:
  react/jsx-uses-react: 2
  react/jsx-uses-vars: 2
  react/react-in-jsx-scope: 2
