.Tile {
  background-color: #333;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 4px;
  position: relative;
}

.Tile-header {
  display: flex;
  justify-content: space-between;
  flex: 0 1 25px;
  padding: 0 5px;
  min-height: 25px;
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #999;
  background-color: #333;
  user-select: none;
}

.Tile-name:hover {
  cursor: grab;
}

.Tile-name:active {
  cursor: grabbing;
}

.Tile-header .Tile-name {
  display: flex;
  flex: 2;
  font-size: 16px;
  height: 25px;
  line-height: 25px;
  word-break: break-all;
  text-overflow: ellipsis;
}

.Tile-header .Tile-actions .Tile-action i:hover {
  cursor: pointer;
}

.Tile-header .Tile-actions .Tile-action:active i {
  color: #ccc;
}

.Tile-overlay, .Tile-stopped-overlay {
  z-index: 2;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.Tile-stopped-overlay {
  background-color: #000;
  opacity: 0.8;
  display: flex;
  flex-grow: 1;
  align-content: center;
  justify-content: center;
}

.Tile-stopped-overlay > * {
  align-self: center;
  font-size: 15px;
  font-weight: bold;
}

.Tile-content {
  position: relative;
  margin: 3px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
}

.Tile-content iframe {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
