style.
  @import url('./node_modules/<%= packageName %>/resources/css/main.css')

h4 Hello <%= entityName %>
p This component was started at #{date}
button#myBtn.btn.btn-primary(type="button") Click me

