<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Kevoree Browser Runtime</h4>
        </div>
        <div class="modal-body">
            <p>Select the way you want to bootstrap your Kevoree Runtime:</p>
            <div id="menu-panel" class="list-group">
                <a id="start-model" href="#" class="list-group-item">Start from Kevoree <strong>model</strong> JSON file</a>
                <a id="start-kevscript" href="#" class="list-group-item">Start from Kevoree <strong>KevScript</strong> file</a>
                <a id="start-custom" href="#" class="list-group-item">Start from <strong>custom values</strong></a>
            </div>
        </div>
    </div>
</div>