:root {
  --bg: #333;
  --color: #9d9d9d;
  --border: #999
}

.app-bar {
  height: 50px;
  line-height: 50px;
  background-color: var(--bg);
}

.app-bar .menu {
  float: left;
  margin: 0;
}

.app-bar .menu * {
  margin: 0;
}

.app-bar .menu.menu-right {
  float: right;
}

.app-bar .menu > * {
  float: left;
  width: 120px;
  text-align: center;
  border-left: 1px solid var(--border);
}

.app-bar .logo {
  float: left;
  width: 60px;
  text-align: center;
}

.app-bar .logo > img {
  vertical-align: middle;
}

.app-bar .menu.menu-right > *:first-child {
  border-left: 1px solid var(--border);
}
.app-bar .menu.menu-right > *:last-child {
  border-right: none;
}

.app-bar .menu > *:last-child {
  border-right: 1px solid var(--border);
}

.app-bar .menu a,
.app-bar .menu a:hover,
.app-bar .menu a:focus,
.app-bar .menu a:active {
  display: block;
  color: var(--color);
  text-decoration: none;
}

.app-bar .menu a.active {
  color: #fff;
  background-color: #222;
}

.app-bar .menu-responsive {
  display: none;
}

.app-bar .menu-responsive button {
  color: var(--color);
}

@media (max-width: 425px) {
  .app-bar {
    height: auto;
  }

  .app-bar .menu,
  .app-bar .menu.menu-right,
  .app-bar .logo {
    float: none;
  }

  .app-bar .menu,
  .app-bar .menu.menu-right {
    display: none;
  }

  .app-bar .menu.open,
  .app-bar .menu.menu-right.open {
    display: block;
  }

  .app-bar .menu > *,
  .app-bar .menu.menu-right > *,
  .app-bar .menu.menu-right > *:first-child,
  .app-bar .menu.menu-right > *:last-child {
    float: none;
    width: 100%;
    text-align: left;
    border: none;
  }

  .app-bar .menu a {
    padding-left: 5px;
  }

  .app-bar .menu-responsive {
    position: absolute;
    top: 0;
    right: 15px;
    display: inline-block;
    color: var(--color);
  }
}
