'name': 'KevScript'
'scopeName': 'source.kevs'
'fileTypes': [ 'kevs' ]
'foldingStartMarker': '\''
'foldingStopMarker': '\''
'patterns': [
  { 'include': '#comment-line' }
  {
    'match': ',|/|:'
    'name': 'delimiter.kevscript'
  }
  {
    'match': '(%)([\\w]+)(%)'
    'captures':
      '1': { 'name': 'variable.language.ctxvarbracket.kevscript' }
      '2': { 'name': 'support.class.builtin.ctxvar.kevscript' }
      '3': { 'name': 'variable.language.ctxvarbracket.kevscript' }
  }
  {
    'match': '(%%)([\\w]+)(%%)'
    'captures':
      '1': { 'name': 'variable.language.ctxvarbracket.kevscript' }
      '2': { 'name': 'support.class.builtin.ctxvar.kevscript' }
      '3': { 'name': 'variable.language.ctxvarbracket.kevscript' }
  }
  {
    'match': '(?<=/)\\b(LATEST|RELEASE)\\b'
    'captures': {
      '1': {
        'name': 'keyword.control.type-def.version.constant.kevscript'
      }
    }
  }
  {
    'match': '\\b^(add|repo|include|remove|move|set|attach|detach|network|bind|unbind|start|stop)\\b'
    'name': 'keyword.statement.kevscript'
  }
  {
    'match': '[A-Z]([a-zA-Z0-9_-]*[a-zA-Z0-9_])?'
    'name': 'constant.character.escape.typedef.name.kevscript'
  }
  {
    'match': '[a-z][\\w]*(\\.[a-z][\\w]*)*\\.(?=[A-Z])'
    'name': 'entity.other.inherited-class.namespace.kevscript'
  }
  { 'include': '#strings' }
  { 'include': '#instance-path' }
  {
    'match': '(?<=/)([0-9]+)'
    'captures': {
      '1': {
        'name': 'variable.language.typedef.version.kevscript'
      }
    }
  }
]
'repository': {
  'comment-line': {
    'patterns': [
      {
        'begin': '(^[ \\t]+)?(?=//)'
        'beginCaptures':
          '1':
            'name': 'punctuation.whitespace.comment.leading.kevscript'
        'end': '(?!\\G)'
        'patterns': [
          {
            'begin': '//'
            'beginCaptures':
              '0':
                'name': 'punctuation.definition.comment.kevscript'
            'end': '(?=\\n)'
            'name': 'comment.line.double-slash.kevscript'
          }
        ]
      }
    ]
  }
  'strings': {
    'patterns': [
      {
        'begin': '\''
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.kevscript'
        'end': '\''
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.kevscript'
        'name': 'string.quoted.single.kevscript'
        'patterns': [
          {
            'match': '\\\\(x\\h{2}|[0-2][0-7]{0,2}|3[0-6][0-7]?|37[0-7]?|[4-7][0-7]?|.)'
            'name': 'constant.character.escape.kevscript'
          }
        ]
      }
      {
        'begin': '"'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.kevscript'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.kevscript'
        'name': 'string.quoted.double.kevscript'
        'patterns': [
          {
            'match': '\\\\(x\\h{2}|[0-2][0-7]{0,2}|3[0-6][0-7]|37[0-7]?|[4-7][0-7]?|.)'
            'name': 'constant.character.escape.kevscript'
          }
        ]
      }
    ]
  }
  'repo': {
    'begin': '\\b(repo)'
    'beginCaptures':
      '1': { 'name': 'keyword.statement.kevscript' }
    'end': '\\n'
    'patterns': [
      { 'match': '\'.*\'', 'name': 'string.quoted.single.repo.kevscript' }
      { 'match': '".*"', 'name': 'string..quoted.double.repo.kevscript' }
      { 'include': '#comment-line' }
    ]
  }
  'include': {
    'comment': 'DEPRECATED'
    'match': '\\b(include)[ \\t]+([^\\/\\/]+)(\\/\\/.+)?'
    'captures':
      '1': { 'name': 'keyword.statement.kevscript' }
      '2': { 'name': 'include.kevscript' }
      '3': { 'patterns': [ { 'include': '#comment-line' } ] }
  }
  'remove': {
    'match': '\\b(remove)[ \\t]+([^\\/\\/]+)(\\/\\/.+)?'
    'captures':
      '1': { 'name': 'keyword.statement.kevscript' }
      '2': { 'patterns': [ { 'include': '#name-list' } ] }
      '3': { 'patterns': [ { 'include': '#comment-line' } ] }
  }
  'start': {
    'match': '\\b(start)[ \\t]+([^\\/\\/]+)(\\/\\/.+)?'
    'captures':
      '1': { 'name': 'keyword.statement.kevscript' }
      '2': { 'patterns': [ { 'include': '#name-list' } ] }
      '3': { 'patterns': [ { 'include': '#comment-line' } ] }
  }
  'stop': {
    'match': '\\b(stop)[ \\t]+([^\\/\\/]+)(\\/\\/.+)?'
    'captures':
      '1': { 'name': 'keyword.statement.kevscript' }
      '2': { 'patterns': [ { 'include': '#name-list' } ] }
      '3': { 'patterns': [ { 'include': '#comment-line' } ] }
  }
  'move': {
    'match': '\\b(move)[ \\t]+([^\\/\\/]+)(\\/\\/.+)?'
    'captures':
      '1': { 'name': 'keyword.statement.kevscript' }
      '2': { 'patterns': [ { 'include': '#name-list_instance-path' } ] }
      '3': { 'patterns': [ { 'include': '#comment-line' } ] }
  }
  'detach': {
    'match': '\\b(detach)[ \\t]+([^\\/\\/]+)(\\/\\/.+)?'
    'captures':
      '1': { 'name': 'keyword.statement.kevscript' }
      '2': { 'patterns': [ { 'include': '#name-list_instance-path' } ] }
      '3': { 'patterns': [ { 'include': '#comment-line' } ] }
  }
  'attach': {
    'match': '\\b(attach)[ \\t]+([^\\/\\/]+)(\\/\\/.+)?'
    'captures':
      '1': { 'name': 'keyword.statement.kevscript' }
      '2': { 'patterns': [ { 'include': '#name-list_instance-path' } ] }
      '3': { 'patterns': [ { 'include': '#comment-line' } ] }
  }
  'set': {
    'begin': '\\b(set)'
    'captures':
      '1': { 'name': 'keyword.statement.kevscript' }
    'end': '\\n'
    'patterns': [
      { 'include': '#instance-path' }
      { 'include': '#single_string' }
      { 'include': '#double_string' }
      { 'include': '#comment-line' }
    ]
  }
  'bind': {
    'match': '\\b(bind)[ \\t]+(([\\w*\\.-]+)(\\.([\\w*\\.-]+)){0,2})[ \\t]+([\\w_*-]+)(.+)?'
    'captures':
      '1': { 'name': 'keyword.statement.kevscript' }
      '3': { 'patterns': [ { 'include': '#instance-path' } ] }
      '6': { 'name': 'entity.name.tag.target.kevscript' }
      '7': { 'patterns': [ { 'include': '#comment-line' } ] }
  }
  'unbind': {
    'match': '\\b(unbind)[ \\t]+(([\\w*\\.-]+)(\\.([\\w*\\.-]+)){0,2})[ \\t]+([\\w_*-]+)(.+)?'
    'captures':
      '1': { 'name': 'keyword.statement.kevscript' }
      '3': { 'patterns': [ { 'include': '#instance-path' } ] }
      '6': { 'name': 'entity.name.tag.target.kevscript' }
      '7': { 'patterns': [ { 'include': '#comment-line' } ] }
  }
  'network': {
    'match': '\\b(network)[ \\t]+(([\\w*\\.-]+)(\\.([\\w*\\.-]+)){0,2})[ \\t]+([a-zA-Z0-9.:%@_-]+)(.+)?'
    'captures':
      '1': { 'name': 'keyword.statement.kevscript' }
      '3': { 'patterns': [ { 'include': '#instance-path' } ] }
      '6': { 'patterns': [ { 'include': '#network-value' } ] }
      '7': { 'patterns': [ { 'include': '#comment-line' } ] }
  }
  'name-list_instance-path': {
    'match': '(.+)[ \\t]([\\w_-]+|\\*)'
    'captures': {
      '1': { 'patterns': [ { 'include': '#name-list' } ] }
      '2': { 'name': 'entity.name.tag.target.kevscript' }
    }
  }
  'name-list': {
    'patterns': [
      { 'include': '#instance-path' }
      {
        'match': ','
        'name': 'name-list.separator.kevscript'
      }
    ]
  }
  'type-def': {
    'patterns': [
      {
        'match': '/'
        'name': 'type-def.version.separator.kevscript'
      }
      {
        'match': 'LATEST|RELEASE'
        'name': 'keyword.control.statement.type-def.version.constant.kevscript'
      }
      {
        'match': '[A-Z][\\w]*'
        'name': 'constant.language.type-def.name.kevscript'
      }
      {
        'match': '[a-z0-9.]*'
        'name': 'entity.other.inherited-class.namespace.kevscript'
      }
      {
        'match': '[0-9]+'
        'name': 'string.regexp.type-def.version.kevscript'
      }
      # {
      #   'match': '(([\\w]+\\.)*)?([A-Z][\\w]*)(\\/([0-9]+|LATEST)(\\/(LATEST|RELEASE))?)?'
      #   'captures':
      #     '1': { 'name': 'entity.other.inherited-class.type-def.kevscript' }
      #     '3': { 'name': 'variable.language.type-def.name.kevscript' }
      #     '5': { 'name': 'type-def.version.separator.kevscript' }
      #     '6': { 'name': 'string.regexp.type-def.version.kevscript' }
      #     '8': { 'name': 'type-def.version.separator.kevscript' }
      #     '9': { 'name': 'string.regexp.type-def.du.version.kevscript' }
      # }
    ]
  }
  'instance-path': {
    'match': '([\\w*\\.-]+)(\\.([\\w*\\.-]+)){0,2}'
    'captures': {
      '1': {
        'patterns': [
          { 'include': '#wildcard' }
          { 'include': '#instance-name' }
        ]
      }
      '3': {
        'patterns': [
          { 'include': '#wildcard' }
          { 'include': '#instance-name' }
        ]
      }
    }
  }
  'instance-name': {
    'match': '[\\w-]+'
    'name': 'entity.other.attribute-name.string.kevscript'
  }
  'wildcard': {
    'match': '\\*'
    'name': 'constant.character.escape.wildcard.kevscript'
  }
  'single_string': {
    'begin': '\''
    'end': '\''
    'patterns': [
      { 'include': '#escape' }
    ]
    'name': 'string.quoted.single.kevscript'
  }
  'double_string': {
    'begin': '"'
    'end': '"'
    'patterns': [
      { 'include': '#escape' }
    ]
    'name': 'string.quoted.double.kevscript'
  }
  'network-value': {
    'match': '[a-zA-Z0-9.:%@_-]+'
    'name': 'string.regexp.network-value.kevscript'
  }
  'escape': {
    'match': '\\\\.',
    'name': 'constant.character.escape.kevscript'
  }
}
