html, body, #app, .app-container {
  height: 100%;
}

.tile .header {
  padding-left: 5px;
  background-color: #333;
  color: #eee;
}

button.small {
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
}

button.medium {
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
}

.hide {
  display: none;
}
