:root {
  --bg: #333;
  --color: #eee;
  --header-height: 25px;
  --header-radius: 4px;
}

.tile .header {
  height: var(--header-height);
  background-color: var(--bg);
  color: var(--color);
  cursor: move;
  border-top-left-radius: var(--header-radius);
  border-top-right-radius: var(--header-radius);
}

.tile .header .description {
  position: absolute;
  left: 5px;
  right: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile .header .menu {
  position: absolute;
  right: 0;
  width: 25px;
  cursor: pointer;
  text-align: center;
  border-top: 1px solid var(--bg);
  border-right: 1px solid var(--bg);
  border-top-right-radius: var(--header-radius);
}

.tile .header .menu.open {
  z-index: 100;
  background-color: var(--color);
  color: var(--bg);
}

.tile .header .name {
  font-weight: 800;
}

.tile .header .menu .items {
  position: absolute;
  top: var(--header-height) - 1;
  right: 0;
  height: auto;
  min-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--bg);
  color: var(--color);
  padding: 2px;
  padding-bottom: 0;
  list-style-type: none;
}

.tile .header .menu .items li {
  margin-bottom: 2px;
}

.tile .header .menu .items li:hover,
.tile .header .menu .items li:focus,
.tile .header .menu .items li:active {
  background-color: var(--color);
  color: var(--bg);
}

.tile .content {
  position: absolute;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid var(--bg);
  border-top: none;
}

.react-grid-item.react-grid-placeholder {
  background-color: #666;
  border-top-left-radius: var(--header-radius);
  border-top-right-radius: var(--header-radius);
}
