.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    position: absolute;
    left: 0;
    top: 51px;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    background-image: url('../images/background.jpg');
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

#navbar-logo {
    padding: 8px 15px 0px;
}

#content {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

#tabs-host.nav > li > a {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

#tabs-host.nav > li.active > a, #tabs-host.nav > li > a:hover, #tabs-host.nav > li > a:focus {
    color: #555;
}

.tab-content {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
}

.tab-pane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    color: #f5f5f5;
    overflow-y: scroll;
}

.tab-pane .log-line {
    background-color: transparent;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 5px 8px;
    margin-bottom: -1px;
    font-size: 12px;
}

.tab-pane .log-line.log-warn {
    color: #8a6d3b;
    background-color: #fcf8e3;
}
.tab-pane .log-line.log-warn:hover, .tab-pane .log-line.log-warn:focus {
    background-color: #f7ecb5;
}

.tab-pane .log-line.log-info {
    background-color: inherit
}
.tab-pane .log-line.log-info:hover, .tab-pane .log-line.log-info:focus {
    background-color: #404040;
}

.tab-pane .log-line.log-debug {
    color: #31708f;
    background-color: #d9edf7;
}
.tab-pane .log-line.log-debug:hover, .tab-pane .log-line.log-debug:focus {
    background-color: #afd9ee;
}

.tab-pane .log-line.log-error {
    background-color: #f2dede;
    color: #a94442;
}
.tab-pane .log-line.log-error:hover, .tab-pane .log-line.log-error:focus {
    background-color: #e6c3c7;
}

.tab-pane .log-line:first-child {
    border-top: none;
}

.tab-pane .log-line:last-child {
    border-bottom: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
